html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  line-height: 1.5rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.box {
  background-color: #79756f;
  border: 3px solid #595652;
  padding: 0% 50% 0% 50%
}

div {


}
h1 {
  font-size: 1.5rem;
  font-family: "Bevan", sans-serif;
  color: #fff;
}

.nav {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: sans-serif;
  text-align: center;
  color:#fff;
}

.nav ol {
  display: inline-block;
  margin: .3em;
  padding: .6em .5em .75em;
  background-color: #713837;
  border-radius: 5px;
}

.nav a {
  padding: .6em,.5em,.75em;
  background-color: #713837;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
}

.nav a:hover {
  background-color: #f33;
}
