html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  line-height: 1.5rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.box {
  background-color: #79756f;
  border: solid #595652;
  margin: .3em;
  padding: .6em .5em .75em;
}

div {
text-align: center;

}
h1 {
  font-size: 1.5rem;
  font-family: "Bevan", sans-serif;
  color: #fff;
}

.nav {
  display: inline-block;
  list-style-type: none;
  font-family: sans-serif;
  text-align: center;
  color:#fff;
}

.nav li {
  display: inline-block;
  margin: .3em;
  padding: .6em .5em .75em;
  background-color: #713837;
  border-radius: 5px;
}

li:hover {
  background-color: #f33;
}
